# --- DÉPENDANCES ET LOGS (À EXCLURE ABSOLUMENT) ---
node_modules/
npm-debug.log
yarn-error.log

# --- ENVIROUNEMENT ET SÉCURITÉ ---
.env
.env.local
.env.*.local

# --- DOSSIERS DE BUILD ET COMPILATION ---
dist/
web-build/
.expo/
ios/
android/
.eas/

# --- CONFIGURATIONS ÉDITEURS ET SYSTÈME ---
.git
.gitignore
.vscode/
.idea/
.editorconfig
Thumbs.db
.DS_Store
